body{
    background-color: white;
    padding: 20px;
}

#posts{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    border: 2px solid black;
}
.nav{
display: flex;
justify-content: center;
}
.search-input{
    width: 20%; 
    padding: 0.6rem 2rem;
    font-size: 1rem;
    border: 0ch;
    background-color:white;
    color: black;
}
.search-input::placeholder{
    color: #d2b9b9;
}
#handleSearch{
    display: none;
}
 /* Start style posts */
 .user-info{
    display: flex;
}
.user-image{
    border-radius: 50%;
     width: 30px;
     margin-top: 10px;
     height: 30px;
}
.username {
    margin-left: 5px;
}
.date{
color:rgba(139, 133, 121, 0.616); 
margin-top: 0px;
font-size: 10px;
}
.post-container{
    display: flex;
    flex-direction: row;
    width: 70%;
    border-bottom: 2px solid blue;
    margin-top: 10px;
}
.vote-div{
    display: flex;
    flex-direction: column;
    width: 30px;
    margin: auto 0 auto 0;
}
.post-content{
    margin-left: 8px;
    margin-bottom: 10px;
}
.post-image{
    width: 250px;

}
.all {
    width: 80%;
    margin-left: 15px;
}
/* Search */
.searchContainer {
    position: relative;

}
#results {
    background-color: gray;
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
}
#results p {
    color: white;
    border-bottom: 1px solid white;
}