body{
    background-color: white;
    padding: 20px;
}

#posts{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    border: 2px solid black;
}

.search-input{
    width: 20%; 
    padding: 0.6rem 2rem;
    font-size: 1rem;
    border: 0ch;
    background-color:white;
    color: black;
}
.search-input::placeholder{
    color: #d2b9b9;
}
 /* Start style posts */
 .user-info{
    display: flex;
    justify-content: space-evenly;
}
.user-image{
    border-radius: 50%;
     width: 30px;
     margin-top: 10px;
     height: 30px;
}
.post-header {
    display: flex;
    border: white 2px solid;
    width:20%;
    justify-content: space-evenly;
}
.vote-div{
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    width: 10%;

}
.post-container{
    display: flex;
    flex-direction: row;
    width: 70%;
    border: 2px solid blue;
    margin-top: 10px;
}
.post-content{
    margin-left: 5%;
}
.all {
    width: 80%;
}